<body>
  <div id="app">
    <div id="div_ola" v-if="mostrar_div">
      Olá Mundo.

      <div class="texto" v-if="mostrar_div">
        <label for="texto">Texto</label>
        <input type="text" class="text" id="texto" class="texto" v-model="texto" v-on:change="alterei">
        <p v-if="texto" v-bind:style="estilo">Texto digitado: {{ texto }}</p>
        <button @click="trocarCorTexto">Trocar cor</button>
        <span v-html="msg"></span>
      </div>

      <ul class="list" v-for="(item, index) in lista" :key="index">
        <li>{{ index }} - {{ item.nome }}</li>
        <input type="text" v-model="item.nome">
      </ul>
      <select v-model="nome_selecionado">
        <option v-for="(item, index) in lista" :key="index" :value="item.nome">
          {{item.nome}}
        </option>
      </select>

      <p>O nome selecionado foi {{nome_selecionado}} e foi alterado {{qtd}} vezes</p>
      <div>
        <label for="cep">cep</label>
        <input type="text" class="text" id="cep" class="cep" v-model="cep" v-on:change="consulta_cep" max-length="8">

        <div v-if="info_cep">
          <p>Informações do cep: </p>

          <ul>
            <li>
              CEP: {{info_cep.cep}}
            </li>
            <li>
              UF: {{info_cep.uf}}
            </li>
            <li>
              Estado: {{info_cep.estado}}
            </li>
            <li>
              Localidade: {{info_cep.localidade}}
            </li>
            <li>
              DDD: {{info_cep.ddd}}
            </li>
          </ul>

          <p>Com Object Keys</p>
          <table>
            <tr v-for="(item, index) in cep_keys">
              <td>{{item}} : </td>
              <td>{{info_cep[item]}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <button type="button" v-on:click="mostrar" v-if="!mostrar_div" />Mostrar</button>
    <button type="button" @click="esconder" v-if="mostrar_div" />Esconder</button>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      mostrar_div: true,
      texto: '',
      // mostrarTexto: true
      lista: [
        {
          "nome": 'Maycon',
        },
        {
          "nome": 'Bruno',
        },
        {
          "nome": 'Gomes',
        }
      ],
      cores: [
        "gray",
        "red",
        "blue"
      ],
      corAtual: "",
      estilo: "background-color:red",
      msg: "",
      nome_selecionado: "",
      qtd: 0,
      cep: "",
      info_cep: "",
      cep_keys: []
    },
    methods: {
      mostrar() {
        this.mostrar_div = true;
      },
      esconder() {
        this.mostrar_div = false;
      },
      trocarCorTexto() {
        let novaCor
        do {
          novaCor = this.cores[Math.floor(Math.random() * this.cores.length)]
        } while (novaCor === this.corAtual)

        this.corAtual = novaCor
        this.estilo = "background-color:" + novaCor
      },
      alterei(event) {
        alert('Digitou texto')
        console.log("event", event)
        this.msg = "Brincando com o VueJS"
      },
      consulta_cep() {
        var self = this
        axios.get(`https://viacep.com.br/ws/${this.cep}/json/`)
          .then(function (response) {
            console.log(response.data);
            self.info_cep = response.data
            self.cep_keys = Object.keys(self.info_cep)
          })
          .catch(function (error) {
            // alert("Erro ao encontrar o cep")
            console.log(error);
          })
          .finally(function () {
            // sempre será executado
          }
          );
      }
    },
    watch: {
      nome_selecionado: function () {
        this.qtd++
      }
    },
    computed: {
      mostra_valor: () => {
        this.qtd > 0 ? true : false
      }

    },
    created() {
      console.log('Eu criei o componente')
    },
    mounted() {
      console.log('Eu montei o componente')
    }
  });

</script>

<style>
  .texto {
    display: flex;
    flex-direction: column;
  }

  .list {
    list-style: none;
  }
</style>