<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio 8</title>
</head>

<body>

    <h4>Implemente uma lista de tarefas (to-do list) com opção de adicionar, marcar como concluída e remover tarefa.
    </h4>
    <div id="app">
        <h3 style="text-align: center;">Todo List</h3>

        <div class="container">
            <button @click="adicionar_tarefa">Adicionar tarefa</button>
            <table>
                <thead>
                    <th>Tarefa</th>
                    <th>Status tarefa</th>
                    <th>Ação</th>
                </thead>
                <tbody v-for="(tarefa, index) in lista_tarefas">
                    <tr v-if="tarefa">
                        <td>{{ index + 1 }} - {{ tarefa.nome }}</td>
                        <td>{{ tarefa.status_tarefa }}</td>
                        <td>
                            <Button @click="marcar_concluido(index)">Marcar concluída</Button>
                            <Button @click="remover_tarefa(index)">Remover tarefa</Button>
                        </td>
                    </tr>
                    <p v-else>
                        Nenhum registro encontrado!
                    </p>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                lista_tarefas: []
            },
            methods: {
                adicionar_tarefa() {
                    let nome_tarefa = prompt('Informe a tarefa: ')
                    let status_tarefa = prompt('Informe o status da tarefa: ')
                    this.lista_tarefas.push({ nome: nome_tarefa, status_tarefa: status_tarefa })
                },
                marcar_concluido(index) {
                    this.lista_tarefas[index].status_tarefa = 'Concluído'
                    alert('Tarefa marcada como concluída!')
                },
                remover_tarefa(index) {
                    this.lista_tarefas.splice(index, 1)
                }
            }
        })
    </script>
</body>

</html>